@model SliderImageUpdateVM

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="ImageUrl" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="ImageUrl" class="form-control" />
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
    <button type="submit" class="btn btn-light" asp-action="Index">Cancel</button>

</form>